 .r{
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    border-radius: 80px;
  }

  .p{
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border:  2px solid black;
    border-radius: 80px;
  }
  .s{
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    border-radius: 80px;
  }
  .bi{
    width : 50px;
    height: 50px;
  }
  
  .reset{
    background-color:thistle;
    padding: 5px 10px;
    border:  none;
    border-radius: 15px;
  }